@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* MRE LABS Electrical Effect */


@keyframes mre-glow {

0%,85% {
    opacity:0;
    filter:blur(0);
}


88% {
    opacity:.9;
    filter:blur(18px);
}


92% {
    opacity:.3;
}


100% {
    opacity:0;
}

}


.animate-mre-glow {
    animation:mre-glow 10s infinite;
}



/* Sparks */


.mre-spark {

position:absolute;
width:4px;
height:4px;
background:white;
border-radius:50%;
opacity:0;

box-shadow:
0 0 10px white,
0 0 20px white;

}



.spark-one {

right:15%;
top:0;

animation:spark-one 9s infinite;

}



.spark-two {

left:20%;
bottom:0;

animation:spark-two 12s infinite;

}



.spark-three {

right:5%;
bottom:20%;

animation:spark-three 15s infinite;

}




@keyframes spark-one {


0%,85% {
opacity:0;
transform:none;
}


88% {
opacity:1;
transform:translate(15px,-12px);
}


92% {
opacity:0;
}

}



@keyframes spark-two {


0%,70% {
opacity:0;
}


75% {
opacity:1;
transform:translate(-15px,10px);
}


80% {
opacity:0;
}

}



@keyframes spark-three {


0%,90% {
opacity:0;
}


93% {
opacity:1;
transform:translate(10px,15px);
}


96% {
opacity:0;
}

}